{% extends "layouts/main.html" %}
{% block title %}
    Home
{% endblock %}
{% block body %}
    <div class="row mt-3">
        <h5>Are you looking to install HiFi Superstar on your server?</h5>
        <p>
            Send a DM to bagnz0r#6279 and work out a deal to set everything up.
        </p>
        <h5>Would you like to buy me a beer?</h5>
        <p>
            Awesome! Here is my Bitcoin wallet:
            <span class="code">3NMwLf9RaQtLsoBXcjeDLN5vP7ouDCxJpU</span>
        </p>
    </div>
{% endblock %}